body, html {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(87, 87, 87);
}

/* Main Nav Bar */

  body div.nav {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1280px;
    background-color: rgb(49, 49, 49);
    height: 80px;
    margin: 0px auto 20px auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }

@media (min-width:1280px){
  body div.nav {
    display: flex;
    position: relative;
    width: 100%;
    background-color: rgb(49, 49, 49);
    height: 80px;
    margin: 0px auto 20px auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
  }
}

body .site_wide_announce {
  text-align: center;
  margin: 0px;
}

/* Nav Logo */

body div.nav .logo {
  height: 100%;
}

/* Component Div */

body div.component {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  background-color: white;
  padding: 30px 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  z-index: 0;
}

@media (min-width:1280px){
  body div.component {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto;
    background-color: white;
    padding: 30px 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    z-index: 0;
  }
}

h1 {
  margin: 0px;
  color: rgb(87, 87, 87);
  font-family: 'Poppins', sans-serif;
}

h2 {
  margin: 0px;
  color: rgb(87, 87, 87);
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin: 0px;
  color: rgb(87, 87, 87);
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: .9rem;
  color: rgb(87, 87, 87);
  font-family: 'Poppins', sans-serif;
}

/* COMPONENT SPECIFIC */

body div.component div.q_a_component .component_title {
  font-size: 1.1rem;
}

/* Slogan Section */

body div.slogan_container {
  display: grid;
  grid-template-columns: 70% 30%;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto 20px auto;
  padding: 0px 130px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

div.slogan_container .slogan_title {
  grid-column: 1;
  grid-row: 1;
}

div.slogan_container .slogan_body {
  grid-column: 1;
  grid-row: 1;
  margin: 40px 20px 20px 0px;
}

div.slogan_container .slogan_list {
  grid-column: 2;
  grid-row: 1;
  border-left: 1px solid rgb(87, 87, 87);
  top: 70%;
  bottom: 15%;
  margin-left: 20px;
  align-self: start;
}

.slogan_list ul {
  list-style-type: none;
  padding-left: 30px;
}

.slogan_list ul li:before {
  content: '✔';
  font-size: 1.2rem;
  margin-right: 10px;
}

/* OVERVIEW ******************************************************************/


body div.overviewComponent {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0px auto 20px auto;
  background-color: white;
  padding: 30px 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  z-index: 0;
}

@media (min-width:1280px){
  body div.overviewComponent {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0px auto 20px auto;
    background-color: white;
    padding: 30px 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    z-index: 0;
  }
}



div.productOverView {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-left: -30px;
  width: 100%
}

.Main-ImageOV {
  max-width: 700px;
  max-height: 770px;
  min-height: 770px;
  object-fit: cover;
  width: auto;
  height: auto;
  border-style: groove;
  margin-left: -100px;
}
.ThumbnailOV {
  max-width: 50px;
  max-height: 50px;
  min-height: 50px;
  object-fit: cover;
  width: 100%;
  margin: 1%;
  border-style: double;
  cursor: pointer;

}

.thumbnailList {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin-left: -90px;
  margin-top: 10px;
  opacity: 50%;

}

.category {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin-left: 630px;
  margin-top: 30px;
  margin-bottom: 1;
  font-size: 18px;
  line-height: 18px;
}

.category-item {
  font-size: 25px;
  margin-bottom: 0px;
}

.itemNameOV {
  font-size: 23px;
}

.product-priceOV {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin-left: 630px;
  margin-top: 235px;
  font-size: 18px;
  line-height: 0;
}
.stylescontainerOV{
  display: flex;
  flex-flow: row;
  position: absolute;
  margin-left: 625px;
  margin-top: 330px;

}

.styleOV {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
}


.styleName {
  display: flex;
  flex-flow: column;
  position: absolute;
  margin-left: 630px;
  margin-top: 295px;
  margin-bottom: 1;
  font-size: 18px;
  line-height: 18px;
}

/* RELATED ITEMS Change name of SUBCOMPONENT*******************************************************/

body div.component div.related-products .carousel {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

.carouselInner {
  width: 100%;
  height: 600px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-color: rgba(199, 85, 85, 0.5);
}

.carouselInner button {
  cursor: pointer;
}

.carouselInner .left {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.carouselInner .center {
  flex: 90%;
  height: 100%;
}

.carouselInner .right {
  flex: 5%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}


/* QUESTIONS & ANSWERS *******************************************************/


div.component div.q_a_component {
  display: block;
  color: rgb(87, 87, 87);
  background-color: white;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* SEARCHBAR */
div.q_a_component div.searchBar_container {
  margin: 10px 0px;
  padding: 0px;
}

div.searchBar_container .searchbar {
  height: 65px;
  width: 100%;
  color:rgb(87, 87, 87);
  border: none;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-weight: bold;
}

::placeholder {
  color: rgb(160, 160, 160);
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

div.searchBar_container .noMatch {
  margin: 20px 0px;
}


/* Q&A CONTAINER */
div.q_a_container {
  margin: 10px 0px;
}

div.q_a_container div.questions {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.questions .q_a_question_text {
  margin-left: 5px;
}

div.questions #q_a_helpful_add {
  font-size: .7rem;
  margin-left: 25px;
}

div.q_a_container div.answers {
  margin: 10px 0px;
}

div.answers .answerA {
  display: inline-block;
  vertical-align: top;
}

div.answers .q_a_answer_first {
  display: inline-block;
  margin: 6px 0px 0px 10px;
  font-size: .9rem;
  max-width: 990px;
}

div.answers .q_a_answer_text {
  margin: 10px 0px 0px 30px;
  font-size: .9rem;
  max-width: 990px;
}

.load_more_answers {
  margin: 10px 0px 0px 30px;
  font-size: .8rem;
  max-width: 990px;
  cursor: pointer;
}


/* Q&A IMAGES */
div.answers .q_a_thumbnail_img {
  width: 100%;
}

div.answers img {
  margin: 10px 0px 10px 30px;
  overflow: hidden;
  cursor: pointer;
}

.imgPop {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.q_a_reviewForm {
  box-sizing: content-box;
  background-color: rgba(206, 206, 171, 0.856);
  height: 500px;
  width: 500px;
}

/* Popup style */



/* Q&A SECTION FOOTER */
div.answers .q_a_footer {
  font-size: .7rem;
  margin: 10px 25px 20px 30px;
  color:rgb(87, 87, 87);
}


/* Q&A BUTTONS */
div.q_a_component div.q_a_buttons {
  display: block;
  margin: 10px 0px;
}

div.q_a_buttons .buttons {
  display: inline-block;
  height: 65px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
  margin-right: 20px;
}





/* RATINGS & REVIEWS *********************************************************/


body div.component .reviewsRatingsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: start;

  width: auto;
  height: auto;
}

body div.component div.reviewsRatingsContainer div.reviewList{
  grid-column-start: 2;
  grid-column-end: 4;

  max-height: 1000px;
  min-height: auto;
  overflow: auto;
}

body div.component div.reviewsRatingsContainer div.reviewList div.reviewTileComponent{

  grid-column-start: 2;
  grid-column-end: 4;
  padding: 25px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(5, minmax(25px, auto));
  grid-auto-rows: auto;
}

body div.component div.reviewsRatingsContainer .ratingComponent{
  background-color: rgba(255, 255, 255, 0);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  padding: 20px;
}




/* POP UP MODAL____________________________________________________*/

.q_a_popup_box {
  position: fixed;
  background: #0000006c;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  vertical-align: middle;
}

.q_a_box {
  position: relative;
  color: rgb(87, 87, 87);
  max-width: 800px;
  min-width: 360px;
  width: auto;
  margin: auto;
  height: auto;
  max-height: 90vh;
  background: #f4f7f8;
  border-radius: 15px;
  padding: 20px;
  border: 5px solid rgba(114, 170, 114, 0.726);
  overflow: auto;
  z-index: 999;
  margin-top: 5vh;
}

.form_data {
  width: 80%;
  height: auto;
  margin: auto;
}

/* .q_a_box {
  position: relative;
  color: white;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: rgb(73, 122, 73);
  border-radius: 15px;
  padding: 20px;
  border: 5px solid rgb(255, 255, 255);
  overflow: auto;
  z-index: 20;
} */

.q_a_close-icon {
  content: '✖';
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 2rem;
  color: rgb(160, 160, 160);
}

.q_a_close-icon:hover {
  content: '✖';
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 2.4rem;
  color: rgba(114, 170, 114, 0.726);
}

.pop_up_title {
  width: 100%;
  color: rgb(87, 87, 87);
  font-size: 2.5rem;
  text-align: center;
}

.pop_up_subtitle {
  width: 100%;
  color: rgb(87, 87, 87);
  text-align: center;
  font-weight: bold;
}

hr.form_hr {
  width: 80%;
  border-top: 1px solid #d1d1d1;
}

.pop_up_input_form {
  background-color: #ececec;
  height: 40px;
  width: 100%;
  border: none;
  border-top: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 3px;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

.pop_up_input_form::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight:300;
  color:rgb(160, 160, 160);
}

.pop_up_input_form:focus {
  outline: 2px solid rgba(114, 170, 114, 0.726);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
}

.pop_up_input_form_textarea {
  background-color: #ececec;
  height: auto;
  width: 100%;
  border: none;
  border-top: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 5px 10px;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 3px;
  resize: none;
  height: 150px;
}

.pop_up_input_form_textarea::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  font-weight:300;
  color:rgb(160, 160, 160);
}

.pop_up_input_form_textarea:focus {
  outline: 2px solid rgba(114, 170, 114, 0.726);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  height: 150px;
}

.pop_up_email_text {
  font-size: .7rem;
  color: rgb(160, 160, 160);
  text-align: center;
}

.form_item {
  margin-bottom: 15px;
  font-size: .8rem;
}

.add_answer_pop_up {
  text-decoration: underline;
  cursor: pointer;
}

.add_answer_img_thumbnails {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  margin-top: 3px;
}

.img_placeholder {
  display: flex;
  height: 90px;
  width: 110px;
  background-color: #ececec;
  border-top: 1px solid #d6d6d6;
  justify-content: center;
  align-items: center;
  color: rgb(160, 160, 160);
}

.pop_up_img_loader {
  margin: 3px 0;
}

.form_characteristics_container {
  display: grid;
  grid-template-columns: 140px;
}

.form_characteristics_text {
  display: grid;
  align-items: space-between;
  overflow: hidden;
}

.form_characteristics_radio {
  grid-column-start: 2;
  display: grid;
  align-content: space-between;
}

.form_button {
  margin: 10px 0px;
  width: 100%;
  text-align: center;
}

.modal_button {
  height: 40px;
  width: 200px;
  border: none;
  color: white;
  background-color: rgb(241, 145, 81);
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-size: .9rem;
  margin: 0 auto;
  cursor: pointer;
}