body, html {
  width: 100%;
  background-color: #ffffff;
  margin: 0;
}

/* Main Nav Bar */

  body div.nav {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    background-color: #677686;
    height: 80px;
    margin: 0px auto 20px auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

@media (min-width:1280px){
  body div.nav {
    display: block;
    position: relative;
    width: 100%;
    background-color: #677686;
    height: 80px;
    margin: 0px auto 20px auto;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

  }
}

/* Nav Logo */

body div.nav .logo {
  height: 100%;
}

/* Component Div */
body div.overviewComponent {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  background-color: rgb(230, 230, 230);
  padding: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body div.component {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
  background-color: rgb(230, 230, 230);
  padding: 30px 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width:1280px){
  body div.component {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 20px auto;
    background-color: rgb(230, 230, 230);
    padding: 30px 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
}

body div.component h1 {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body div.component h2 {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body div.component h3 {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Slogan Section */

body div.slogan {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1280px;
  background-color: #677686;
  height: 80px;
  margin: 0px auto 20px auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width:1280px){
body div.nav {
  display: block;
  position: relative;
  width: 100%;
  background-color: #677686;
  height: 80px;
  margin: 0px auto 20px auto;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
}

/* OVERVIEW ******************************************************************/








/* RELATED ITEMS *************************************************************/





/* QUESTIONS & ANSWERS *******************************************************/


body div.component div.q_a_component {
  display: block;
  background-color: rgb(241, 194, 255);
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* Searchbar */

body div.component div.q_a_component div.searchBar_container {
  background-color: rgb(228, 138, 255);
  margin: 10px 0px;
  padding: 0px;
}

body div.component div.q_a_component div.searchBar_container .searchbar {
  height: 60px;
  width: 100%;
  border: none;
  border: 1px solid black;
  margin: 10px 0px;
  padding: 0px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::placeholder {
  color: rgb(78, 78, 78);
  font-size: 1rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Q&A CONTAINER */

body div.component div.q_a_component div.q_a_container {
  background-color: rgb(228, 138, 255);
  margin: 10px 0px;
}

body div.component div.q_a_component div.q_a_container span#q_a_text {
  font-weight: bold;
  font-size: 1.3rem;
}

body div.component div.q_a_component div.q_a_container div.questions {
  background-color: rgb(121, 57, 141);
  margin: 10px 0px;
}

body div.component div.q_a_component div.q_a_container div.answers {
  background-color: rgb(121, 57, 141);
  margin: 10px 0px;
}

/* Q&A BUTTONS */

body div.component div.q_a_component div.q_a_buttons {
  display: block;
  background-color: rgb(228, 138, 255);
  margin: 10px 0px;
}

body div.component div.q_a_component div.q_a_buttons button.more_answered_questions {
  display: inline-block;
  height: 60px;
  background-color: rgb(80, 64, 85);
  margin: 10px 0px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  padding: 0px 20px;
}

body div.component div.q_a_component div.q_a_buttons button.add_a_question {
  display: inline-block;
  height: 60px;
  background-color: rgb(80, 64, 85);
  margin: 10px 0px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  margin-left: 20px;
  padding: 0px 20px;
}





/* RATINGS & REVIEWS *********************************************************/


body div.component .reviewsRatingsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  align-items: start;

  background-color: rgba(128, 138, 131, 0.397);
  padding: 0px 120px;
  width: auto;
  height: auto;
}

body div.component div.reviewsRatingsContainer div.reviewList{
  background-color: rgba(128, 138, 131, 0.397);
  grid-column-start: 2;
  grid-column-end: 4;
}

body div.component div.reviewsRatingsContainer div.reviewList div.reviewTileComponent{
  background-color: rgba(128, 138, 131, 0.562);
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 5px;
}

body div.component div.reviewsRatingsContainer .ratingComponent{
  background-color: rgba(128, 138, 131, 0.397);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  padding: 10px;
}

