.ratingComponent {
  justify-items: center;
}

.largeRating {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80px;
  align-items: baseline;
  justify-items: center;
  font-size: 1.2rem;
}

.ratingNum {
  font-size: 4rem;
}

.reviewModalPhoto:hover {
  cursor: pointer;
}

.addButton {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 10px 0px;
  font-weight: bold;
  font-size: .9rem;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 4px;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
}

.moreButton {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 10px 25px;
  font-weight: bold;
  font-size: .9rem;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 4px;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
}

.review_buttons {
  display: block;
  height: 50px;
  width: 100%;
  grid-column-start: 2;
  grid-row-start: 2;
}

.sortDropdown {
  height: 35px;
  font-size: 1rem;
  color: rgb(87, 87, 87);
  cursor: pointer;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
  text-decoration: underline;
  border: none;
}

.sort {
  text-align: right;
  padding: 5px;
  height: 35px;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image {
  align-content: center;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.box {
  display: grid;
  justify-content: center;
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  z-index: 10;
}

.close-icon {
  content: 'x';
  color: black;
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.starBar{
  display: grid;
  grid-template-columns: 20% 70% 10%;
}

.numberRating{
  grid-column-start: 1;
  cursor: pointer;
  text-decoration: underline;
  white-space: nowrap;
}

.numberRating:hover{
  background-color: rgba(211, 211, 211, 0.644);
  border-radius: 8px;
  padding: 2px;
  padding-left: 4px;
}

.ratingBar {
  grid-column-start: 2;
  align-self: center;
  position: relative;
  width: 100%;

  margin: 0 auto;
  background: #e5e6e279;
  height: 10px;
  border-radius: 2px;
}

.rbars {
  position: absolute;
  height: 10px;
  width: 50%;
  max-width: 100%;
  background: rgba(114, 170, 114, 0.726);
}

.reviewCount {
  grid-column-start: 3;
  text-align: right;
}

.productBreakdown{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: stretch;
}

.characterBar {
  position:absolute;
  justify-self: stretch;
  width: 22.5%;
  min-width: 227px;
  background: #e5e6e279;
  height: 8px;
  border-radius: 2px;
}

.triangle {
  align-self: top;
  position: relative;
  height: 10px;
  width: 100%;
  max-width: 100%;
  background: rgba(114, 170, 114, 0);
}

.descriptions {
  display: grid;
  grid-template-columns: auto;
}

.descriptionText {
  grid-column-start: 1;
  text-align: left;
  justify-content: end;
  margin-bottom: 10px;
}

.rightText {
  grid-column-start: 2;
  text-align: right;
  font-size: .7rem;
  padding: 23px 0px;
  margin-left: 80px;
}

.rightText_long {
  grid-column-start: 2;
  text-align: left;
  font-size: .7rem;
  padding: 23px 0px;
  margin-left: 80px;
}

.leftText {
  grid-column-start: 1;
  text-align: left;
  background: #606c3800;
  font-size: .7rem;
  padding: 23px 0px;
}

.filterByStars {
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.filterStar {
  margin: 5px;
  height: 20px;
  font-weight: bold;
  font-size: .9rem;
  background-color: rgba(211, 211, 211, 0.486);
  border-radius: 4px;
  padding: 3px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
}

.clearFilter {
  font-size: .7rem;
  color: rgb(97, 96, 96);
  cursor: pointer;
}

.smallFont{
  font-size: .9rem;
  text-align: center;
}