/* .md-grid-basic [class*="mbsc-col"] {
  padding-top: .5em;
  padding-bottom: .5em;
  background: #cfe0f3;
  background-clip: padding-box;
  border: 1px solid transparent;
  color: #454b50;
}

.md-grid-basic .mbsc-row {
  margin: 1em 0;
} */