.addButton {
  height: 65px;
  width: 200px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
  grid-column-start: 3;
  grid-row-start: 2;
}

.moreButton {
  height: 65px;
  width: 200px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
  grid-column-start: 2;
  grid-row-start: 2;
  /* justify-items: start; */
}