.addButton {
  height: 65px;
  width: 200px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
  grid-column: 3;
  grid-row-start: 2;
}

.moreButton {
  height: 65px;
  width: 200px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border: 1px solid black;
  padding: 0px 20px;
  color: rgb(87, 87, 87);
  cursor: pointer;
  grid-column-start: 2;
  grid-row-start: 2;
}

.sortDropdown {
  height: 35px;
  width: 130px;
  font-size: 1rem;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.514);
  color: rgb(87, 87, 87);
  cursor: pointer;
  padding: 3px;
  margin: 3px;
}

.sort {
  justify-content: right;
  padding: 5px;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
  z-index: 10;
}

.close-icon {
  content: 'x';
  color: black;
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.starBar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numberRating{
  grid-column-start: 1;
  white-space: nowrap;
}

.ratingBar {
  grid-column-start: 2;
  align-self: center;
  position: relative;
  width: 150px;

  margin: 0 auto;
  background: #e5e6e279;
  height: 10px;
  border-radius: 2px;
  padding: 1px 5px;
}

.rbars {
  position: absolute;
  height: 10px;
  width: 50%;
  max-width: 100%;
  background: rgba(114, 170, 114, 0.726);
}