.reviewRating {
  font-size: .7rem;
  color: rgb(0, 0, 0);
  grid-column-start: 1;
  grid-row-start: 1;
  max-height: min-content;
}

.reviewerNameDate {
  font-size: .7rem;
  color: rgb(0, 0, 0);
  grid-column-start: 4;
  grid-row-start: 1;
  white-space: nowrap;
  max-height: min-content;
  color:rgb(87, 87, 87);
  justify-self: end;
}

.reviewSummary {
  font-size: 1.17em;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  max-height: fit-content;
}

.reviewBody {
  font-size: .9rem;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;

  max-height: 100px;
  overflow: auto;
}

.responseDiv {
  font-size: .9rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  max-height: min-content;
}

.reviewPhotos {
  color: antiquewhite;
  grid-column-start: 1;
  grid-row-start: 5;
  grid-gap: 8px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  max-height: fit-content;
}

.reviewHelpfulness {
  grid-column-start: 4;
  grid-row-start: 4;
  justify-self: end;
  max-height: fit-content;
  font-size: .7rem;
  color:rgb(87, 87, 87);
  justify-self: end;
}

