.reviewForm {
  box-sizing: content-box;
  background-color: rgba(206, 206, 171, 0.856);
  height: 500px;
  width: 500px;
}

.overallRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recommendation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 2px solid #999;
  font-size: 20px;
  padding: 2px;
}

.reviewform_characteristics_container {
  width: 100%;
  padding: 10px;
  background-color: #ececec;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}

.reviewform_characteristics_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.labelItems {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.starRating {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.rateButton button{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

.uploadPhoto {
  display: flex;
  justify-content: space-between;
}

.errors{
  color: red;
  font-size: .7rem;
  list-style-type: none;
}

.eachStar:hover {
  color: green;
}